* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

input:checked {
  /* background-color: coral;
  margin-left: 200px; */
}

span, p {
  /* background-color: pink; */
}

#featured-blog {
  /* border: 2px solid plum; */
  border-top: 2px solid yellow;
}

.blog {
  border-bottom: 2px solid blue;
}

.blog:nth-child(2n+1) {
  background-color: pink;
}

.tag {
  background-color: bisque;
}

.blog h3 {
  color: red;
}

.blog a {
  color:burlywood;
}

h3 + div {
  font-size: 12px;
}

.blog > p {
  font-style: italic;
}

.blog > p::first-letter {
  font-size: 20px;
  font-weight: bold;
}

a[href="#"] {
  /* outline: #4CAF50 solid 2px; */
}

input[type="password"] {
  color: red;
}

section {
  border-top: 2px solid black !important;
}