.button {
  padding: 0.5rem;
  border-radius: 10%;
}

.primary {
  background-color: red;
  color: #fff;
}

.default {
  background-color: #FFFFFF;
  color: #000;
}

.primary:hover, .default:hover {
  opacity: 0.5;
  cursor: pointer;
}